@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;0,600;1,400;1,700&display=swap');

body{
    font-family: "Barlow", sans-serif;
    line-height: 1.7;
    color: #516171;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700 !important;
    color: #092032;
}

a{
    color: #092032;
    text-decoration: none;
    transition: all 0.4 ease;
    font-weight: 500;
}
img{
    width: 100%;
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.bg-cover{
    background-position: center !important; 
    background-size: cover !important;
    background-position: center !important;
}

/* NAVBAR */ 

.top-nav{
    background-color:#ff4d29 ;
    padding-top: 4px;
    padding-bottom: 4px;
    
}

.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px ;
    color: #ffffffff ;
    font-size: 14px;
}

.top-nav i,
.top-nav span{
    vertical-align: middle;
}

.social-link a{
 width: 30px;
 height: 30px;
 background-color: rgba(255,255,255,0.3);  
 display: inline-flex;
 align-items: center;
 justify-content: center;
 color: #ffffff;
 font-size: 20px;
 border-radius: 100%;
 margin-left: 4px;

}
.social-link a:hover{
    background-color: #ffffff;
    color: #ff4d29;
}
.navbar{
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: #ff4d29 !important;
}


.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    /* color: #092032; */

}
.navbar-brand span{
    color: #ff4d29;
}

/* BTn */

.btn{
    padding: 9px 24px;
    font-weight: 500;
}
.btn-brand{
    background-color: #ff4d29;
    color: #ffffff;
    border-color: #ff4d29;
}
.btn-brand:hover{
    color: #ffffff;
    background-color: #eb330e;
}
/* SLIDER */
.slider1{
    background-image:linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.4)), url(./img/bg_banner1.jpg);
}
.slider2{
    background-image:linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.4)), url(./img/bg_banner2.jpg);
}

.owl-prev, 
.owl-next{
    position: absolute;
    top:50%;
    width: 60px !important;
    height: 60px !important;
    display: grid;
    place-items: center;
    background-color: rgba(255,255,255,0.2) !important;
    margin-top: -30px !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    border-radius: 100px !important;
}

.owl-prev{
    left: 0;
}
.owl-next{
    right: 0;
}

.owl-prev:hover,
.owl-next:hover{
    background-color: #ff4d29 !important;
}

/* info box */
.info-box{
    display: flex;
    align-items: center;
    
}

.info-box img{
    width: 80px;
    margin-right: 25px;
}

/* mlst */

#mlst{
    background-image:linear-gradient(rgba(255, 77, 41, 0.9) ,rgba(255, 77, 41, 0.9) ), url(./img/bg_banner2.jpg);
}
#mlst .display-4,
#mlst {
    color: #fff;
}

#mlst .disply-4{
    font-weight: 700;
}

/* Services */
 
.intro{
    margin-bottom: 36px;
    text-align: center;
}
.intro h6{
    color: #ff4d29;
    font-weight: 200;
    text-transform: uppercase;
}

.intro h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro p {
    max-width: 500px;
}

.services{
    padding: 36px;
    background-color: #fff;
    box-shadow:0px 6px 30px rgba(0, 0, 0, 0.08);
    text-align: center;
} 
.services h5 {
    margin-top: 24px;
    margin-bottom: 14px;
}

.services img {
    width: 90px;
}

/* Project */

.project{
    position:relative;

}

.project .overlay{
    background: linear-gradient(to bottom, rgba(9, 32, 50, 0) , rgba(9, 32, 50, 0.8));
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 0;
    left:  0;
}

.project .content{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 32px;
}
.project h1,h6{
    color: white;
    
}
.project h6{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;

}
.project h6:before{
    content:'';
    height:2px;
    width: 24px;
    background-color: #ff4d29;
    display: inline-block ;
    vertical-align: middle;
    margin-right: 24px;
}

/*Team*/
.team-member{
    text-align: center;
}
.team-member .img-wrapper{
    position: relative;
    overflow: hidden;
}
.team-member .overlay{
    position:absolute;
    top: -10%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(224, 67, 19, 0.61);
    transition: all 0.4s ease;
    opacity: 0;
}

.team-member .social-link{
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50% , -50%);
    transition: all 0.4s ease;
    opacity: 0;
}

.team-member:hover .overlay{
    opacity:1;
    top: 0;
    
}

.team-member:hover .social-link{
    opacity: 1;
    top: 50%;
}

.team-member h5{
    margin-top: 24px;
}

#reviews{
     background-image:linear-gradient(rgba(9, 32, 50, 0.8), rgba(9, 32, 50, 0.8)), url(./img/bg_banner1.jpg);
}
.reviwe {
    max-width: 900px;
    margin: auto;
    text-align: center;
}
.reviwe img{
    width: 85px !important;
    border-radius: 100px;
    margin: auto;
}

.reviwe h4{
    margin-top: 15px;

}
.reviwe h4,
.reviwe p{
    color: #fff;
}
.reviwe p{
    margin-top: 20px;

}

.reviwe small{
    color: #eb330e;
}

.owl-dot.active span{
    background-color: #eb330e !important;
}

.blog-post{
    position: relative;
    box-sizing: border-box;
}
.blog-post .tag{
    position:absolute;
    top: 15px;
    left: 10px;
    background-color: #eb330e;
    border-radius: 100px;
    color: #fff;
    padding:2px 9px;
    font-size: 12px;
    

}

.blog-post h4{
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-post img{
    margin-bottom: 12px;
}
.blog-post small{
    color: #eb330e;
    text-decoration: underline;
    text-transform: uppercase;
}

.blog-post h4 a:hover{
    color: #ff4d29;
}
.blog-post h4{
    font-weight: 700;
}

/* Footer */

footer{
    padding-top: 80px;
    padding-bottom:40px ;
    color: #fff;
    text-align: center;
    background-image:linear-gradient(rgba(9, 32, 50, 0.8), rgba(9, 32, 50, 0.8)), url(./img/bg_banner1.jpg);

}
footer .navbar-brand{
    color: #fff;
}

.footer-top{
    margin-bottom: 40px;
}
.fotter-bottom{
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 20px;
}
footer .social-link a{
    margin-left: 5px;
    margin-right: 5px;
}


input.form-control {
    border-color: transparent;
    height: 44px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.04);;
}

.form-control:focus {
    box-shadow: none;
    border-color: #eb330e;
}